<% @user = User.find(network_user.user_id) %>
<% @firm = Firm.find(params[:id]) %>
<tr>
	<td><%= gravatar_for @user, size: 20 %>
		<%= @user.name %>
		<%= (@user.id == current_user.id) ? " (you)" : "" %></td>
	<td><%= @user.email %></td>
	<td><%= @user.phone %></td>
	</td>
</tr>