

<% @durationhours = Time.at(open_shifts_item.end_datetime - open_shifts_item.start_datetime).utc.strftime("%H")%>
<% @durationminutes = Time.at(open_shifts_item.end_datetime - open_shifts_item.start_datetime).utc.strftime("%M")%>
<% @durationhours[0] == "0" ? @durationhours = @durationhours[1] : @durationhours %>
<% @durationminutes.to_i < 1 ? @durationminutes = "" : @durationminutes = " #{@durationminutes} mins" %>


<tr>
	<td><%= link_to "#{open_shifts_item.id}", open_shifts_item %></td>
	<td><%= "#{open_shifts_item.role}" %></td>
	<td><%= short_date(open_shifts_item.start_datetime) %></td>
	<!-- DO a date format hepler!! -->
	<td><%= "#{open_shifts_item.start_datetime.strftime("%H:%M")} - 
	#{open_shifts_item.end_datetime.strftime("%H:%M")}" %>
		</td>
	<td><%= "#{@durationhours} hours#{@durationminutes}" %></td>
</tr>

