<% @w_preshift = shift_start_div_width(s_hash_item, @s_start_hour, @s_day_length) %>
<% @w_shift = shift_body_div_width(s_hash_item, @s_day_length) %>

<div class="row-fluid scheduleitem">


	<div class="preshift-div" style="display:inline-block; background-color:red; padding:0px; border-radius:2px;
	width:<%= @w_preshift %>%; margin:0px 0px 0px 0px"></div>
	<div class="alert alert-info" style="display:inline-block; padding:0px ; 
	width:<%= @w_shift %>%; margin:0px 0px 0px 0px">
		<div style="margin:5px"><%= s_hash_item.role %> 
	<%= s_hash_item.start_datetime.strftime("%R")%> - <%= s_hash_item.end_datetime.strftime("%R") %>
		</div>
	</div>
</div><br>