<script type="text/javascript" src="http://www.eyecon.ro/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

<% @s_date_prev = @s_date - 1.day %>
<% @s_date_next = @s_date + 1.day %>


<% #calculating the time span of the day %>
<% if @s_hash_items.any? %>
<% @s_start_hour % 3600 == 0? @s_span_start_hour = @s_start_hour / 3600 : 
		@s_span_start_hour = @s_start_hour / (@s_start_hour - (@s_start_hour % 3600)) %>
<% @s_end_hour % 3600 == 0? @s_span_end_hour = @s_end_hour / 3600 : 
		@s_span_end_hour = (@s_end_hour - (@s_end_hour % 3600)) / 3600 %>
<% @s_span_length = @s_span_end_hour - @s_span_start_hour %>
<% @span_array = span_array_method(@s_span_start_hour,@s_span_end_hour) %>
<% #end of span logic - uses span_array_method in firms helper %>
<% # working out the width of the times span array %>
	<% if (@span_array.last(5).first(2).to_i * 3600) >= @s_end_hour %>
		<% @span_array_percent = 100 %>
	 <% else %>
	 	<% @span_array_max = (@span_array.last(5).first(2).to_i * 3600) %>
		<% @span_array_percent = 100 - (100*(((@s_end_hour.to_f - @span_array_max.to_f) / (@s_span_length.to_f * 3600)))).to_i %>
	<% end %> 
<% end %>
<% # end of calculating logic %>

<div class="span3">
	<div class="row-fluid">
		

		    <ul class="nav nav-pills nav-stacked">
		    	<% unless @s_date == Date.today %>
					<li><a href="schedules?sdate=<%= Date.today.strftime("%d-%m-%Y")%>">
					<i class="icon-arrow-left"></i> back to today
					</a></li>
				<% end %>
				<% if current_user.admin? %>
    			<li>
    				<a href="/newshift"><i class="icon-plus"></i> Create new shift </a>
    			</li>
    			<% end %>
    			<!--<li><a>Compact view</a></li> -->
    		</ul>

    		<div style="padding-left:13px; padding-bottom:5px">
    			<strong>7 day summary</strong>
    			</div>
    			<table class="table table-bordered table-condensed table-hover">
    				<thead>
    					<tr>
    						<th>Day</th>
    						<th>Shifts</th>
    						<th>Open</th>
    					</tr>
    				</thead>
    				<tbody>
    					<% for i in 0..6 do %>
    					<tr>
    						<td><a href=<%= "schedules?sdate=#{(@s_date + i.days).strftime("%d-%m-%Y")}"%> > <%= (@s_date + i.days).strftime("%a %d %b") %></td>
    						<td><%= Shift.where('start_datetime > ? AND start_datetime < ? AND firm_id = ?',
    						 (@s_date + i.days).beginning_of_day, (@s_date + i.days).end_of_day, @firm.id).count %></td>
    						<td><%= Shift.where('start_datetime > ? AND start_datetime < ? AND firm_id = ? 
    								AND fk_user_worker is ?',
    						 (@s_date + i.days).beginning_of_day, (@s_date + i.days).end_of_day, 
    						 		@firm.id, nil).count %></td>
    					</tr>
    					<% end %>
    				</tbody>
    			</table>


	</div>
</div>

<div class="span8">
	<div class="row-fluid">
		<div class="span4" id="id4">
			<a href="schedules?sdate=<%= @s_date_prev%>">
				<i class="icon-arrow-left"></i> previous
			</a>
		</div>
		<div class="span4" style="text-align:center">
			
    			<input class="span9 bsdatepicker" size="16" id="dp3" type="text" data-date-format="dd-mm-yyyy" 
    					value=<%= @s_date.strftime("%a-%d-%b-%Y") %> style="font-weight:bold;text-align:center">
    		
		</div>
		<div class="span4" style="text-align:right">
			<a href="schedules?sdate=<%= @s_date_next%>">
			next <i class="icon-arrow-right"></i>
			</a>
		</div>
	</div>




	<% if @s_hash_items.any? %>
		<div class="row-fluid shedulecontainer">
			<div class="well" style="background-color: white; margin: 5px 0px 5px 0px; padding:5px; height:20px;">
				<div class="fulljustify" style="width:<%= @span_array_percent %>%">
				<%= @span_array %>
				</div>
			</div>
		</div>
	<%= render partial: 's_hash_item', collection: @s_hash_items %>
	<%= will_paginate @s_hash_items %>
	
	<% else %>
		No shifts created for this date.
	<% end %>
	</div>



<script>
$('#dp3').datepicker().on('changeDate', function() {
    //Retrieve the date located on the data of your datepicker
    var datevalue = $('#dp3').val();
    window.open('schedules?sdate=' + datevalue, "_self");
});
</script>

<script>
$('tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>
