<% @firm = Firm.find(params[:id]) %>
<div class="row-fluid">
	<div class="span6 offset3">
		

		<ul class="nav nav-pills">
    		<li class="active">
    			<a href="#"><%= "Open Shifts (#{@firm.shifts.find_all_by_fk_user_worker(nil).count})" %></a>
    		</li>
    	
    		<li><%= link_to "Requests (#{number_shift_requests})", 'shiftrequests'%></li>
    		<li><%= link_to "New Shift (+)", '/newshifts'%></i></li>
    		<li><%= link_to "Search shifts (?)", '/search'%></li>
    	</ul>

    <%= @open_shifts %>
	</div>
</div>