<div class="span6 offset3">

<% if @myshifts.length > 0 %>
<div class="alert alert-success">
	<h4>Your shifts (<%= @myshifts.length %>)</h4>
		You have <%= @myshifts.length %> confirmed shift(s) in the next 7 days.
		Click on the <%= link_to "My shifts", '/shifts' %> link under the schedules 
		menu (<i class="icon-calendar"></i>) to see your shifts. 

</div>

<% elsif @allmyshifts.any? %>
<div class="alert alert-success">
	<h4>Your shifts (<%= @allmyshifts.length %>)</h4>
		You have <%= @allmyshifts.length %> confirmed shift(s). Your next shift is 
		<%= "#{@allmyshifts.first.role} at #{Firm.find(@allmyshifts.first.firm_id).name} on 
		#{@allmyshifts.first.start_datetime.strftime("%d %b")}" %>.
		Click on the <%= link_to "My shifts", '/shifts' %> link under the schedules 
		menu (<i class="icon-calendar"></i>) to see your shifts. 

</div>

<% end %>

<% if @offeredshifts.length > 0 %>
<div class="alert alert-success">
	<h4>Shift Offers (<%= @offeredshifts.length %>)</h4>
		Click on the <%= link_to "Offers", '/offers' %> link to see available shifts in your network. 
		You have been offered <%= @offeredshifts.length %> shift(s).

</div>
<% end %>


<div class="alert alert-info" style="background-color:white">
	<h4>Find Shifts</h4>
		Click on the <%= link_to "Get Shifts", '/availableshifts' %> link to see available shifts in your network. 
		There are currently <%= @availableshifts.length %> shifts available.

</div>

<div class="alert alert-info" style="background-color:white">
	<h4>View Schedules</h4>
		Use the Schedules menu (<i class="icon-calendar"></i>) to view your own shifts, or the schedule for your network.

</div>

<div class="alert alert-info" style="background-color:white">
	<h4>Account Settings</h4>
		<%= link_to "Click here", current_user %> to check your contact details are up to date.
		<% if current_user.phone == ("" || nil) %>
			<br><%= link_to "You have not entered a phone number. Please edit your account details and add a contact number", edit_user_path(current_user) %>.
		<% end %>

</div>

<% if current_user.firm_permissions.where(status: true, admin: true).any? %>
	
<div class="alert alert-info" style="background-color:white">
	<h4>Switch to admin account</h4>
		You are currently signed in as a normal user but you have admin privileges. In the user account menu (<i class="icon-user"></i>) you can switch to admin.

</div>

<% end %>