<body background="clouds1.jpg">

<% if signed_in? %>
	<% if current_user.admin? %>
		<%= render 'adminhome' %>
	<% else %>
		<%= render 'nonadminhome' %>
	<% end %>

<% else %>



<div class="span5 offset2" style="padding:5px">

	<div class="row-fluid hidden-phone">
		<br><br><br><br><br>
	</div>

	<h2 style="color: black; text-shadow: 1px 1px 1px white;">Welcome to ShiftCloud.</h2>
	<strong style="color: black; text-shadow: 1px 1px 1px white;">Manage your shifts online. No more excel. No more paper rotas. Automatic notifications and schedules.
	<a href="findoutmore">Find out more</a> or sign up now for a free trial.</strong>

</div>


<div class="span5">

	<div class="row-fluid hidden-phone">
		<br><br><br><br>
	</div>
			<br>

	<div class="row-fluid">
	
		<div class="alert alert-info span8" style="padding:5px">
			
			<%= form_for(:session, url: sessions_path) do |f| %>
			<div style="margin:5px 10px -5px; width:90%"><%= f.text_field :email, placeholder: "email address" %></div>
			<div style="margin:0px 10px; width:90%"><%= f.password_field :password, placeholder: "password" %></div>
			<div style="margin:0px 20px 5px; width:90%; height:15px">
				<span style="margin-left:-8px"><a href="resetpassword">Forgot password?</a></span><%= f.submit "Sign in", class: "btn btn-medium btn-primary pull-right" %></div>
    		<% end %>
		
		</div>
	</div>


	<div class="row-fluid">
		<a href="/signup">
		<div class="span8" style="text-align:center; padding:5px">
			<h3 style="color: black; text-shadow: 1px 1px 1px white;">Sign up as a new business</h3>
			<strong style="color: black; text-align:center; text-shadow: 2px 2px 1px white;">Choose this option if you're the business owner or shift manager.<br>
			

			</p>
		</div>
		</a>
	</div>

	<div class="row-fluid">
		<a href="/signupuser">
		<div class="span8" style="text-align:center; padding:5px">
			<h3 style="color: black; text-shadow: 1px 1px 1px white;">Sign up as a new user</h3>
			<strong style="color: black; text-align:center;text-shadow: 2px 2px 1px white;">Choose this option if your manager has invited you to join.<br>
			
			</p>

		</div>
		</a>
	</div>

</div>

<% end %>