<div class="span3" style="padding:20px">
  <strong>Show</strong>
    <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#">Upcoming Shifts (<%= @feed_items.length %>)</a></li>
    <li><a href="/pastshifts">Past Shifts (<%= @feed_items_past.length %>)</a></li>
    <li><a href="/allshifts">All Shifts (<%= @feed_items_all.length %>)</a></li>
    </ul>

</div>

<div class="span6">

      <ul class="nav nav-pills">
        <li class="active">
          <a href="#">My Shifts <icon class="icon-tasks"></i></a>
        </li>
        <li><%= link_to "Available Shifts (#{@availableshifts.length})", 'availableshifts'%></li>
        <li><%= link_to "Offers (0)", 'shiftrequests'%></li>
        <li><%= link_to "Requests (0)", 'newshift'%></li>
        <li><a href="#">Search Shifts</a></li>
        
      </ul>

<!-- testing the feed by adding it here as well -->
      <%= render 'shared/feed' %>


<!-- new feed for open shifts -->
<!-- need correction here? does it make sense to say no open shifts available if they're not signed in? -->
<!-- looks like a mistake... should be if open_shifts = 0? -->
  

</div>