<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello <%= @user.name %></h4>
    <p>
      You have been offered a shift on ShiftCloud.<br>
      Where: <%= "#{@firm.name} #{@firm.branch}" %><br>
      When: <%= "#{@shift.start_datetime.strftime("%a %d %b")} at #{@shift.start_datetime.strftime("%H:%M")} - #{@shift.end_datetime.strftime("%H:%M")}" %><br>
      Shift type: <%= @shift.role %>
      More information: <%= @shift.description.empty? ? "(none given)" : @shift.description %>
      <br/>
    </p>
    <p>
      Go to  http://www.shiftcloud.co.uk/offers to accept or reject this offer.
    </p>
    <p></p>
  </body>
</html>