<% @shift = availableshift %>

<% @durationhours = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%H")%>
<% @durationminutes = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%M")%>
<% @durationhours[0] == "0" ? @durationhours = @durationhours[1] : @durationhours %>
<% @durationminutes.to_i < 1 ? @durationminutes = "" : @durationminutes = " #{@durationminutes} mins" %>

<% if @shift.shift_requests.find_by_worker_id_and_worker_status(current_user.id,true).nil? %>
  <% if @shift.allocation_type == 1 || !@shift.shift_requests.find_by_worker_id_and_worker_status(current_user.id,nil).nil? %>
  <tr class="success">
    <% else %>
  <tr>
    <% end %>

  <td><%= link_to "", availableshift %><%= "#{availableshift.id}" %></td>
  <td><%= "#{availableshift.role}" %></td>
  <td><%= short_date(availableshift.start_datetime) %></td>
  <!-- DO a date format hepler!! -->
  <td><%= @shift.start_datetime.strftime("%H:%M") %> - <%= @shift.end_datetime.strftime("%H:%M") %> (<%= "#{@durationhours} hrs#{@durationminutes}" %>)
    </td>
  
  <td style="text-align:center"><a href="/user_request_from_available_shifts?shiftid=<%= @shift.id %>">
    <div class="request-circle-open" style="border:1px solid #77A8FC; 
            border-radius:100%; width:8px; height:8px; margin-top:5px; margin-left:auto; margin-right:auto"></div>
          </a></td>
</tr>

<% else %>
<tr>
  <td><%= link_to "", availableshift %><%= "#{availableshift.id}" %></td>
  <td><%= "#{availableshift.role}" %></td>
  <td><%= short_date(availableshift.start_datetime) %></td>
  <!-- DO a date format hepler!! -->
  <td><%= @shift.start_datetime.strftime("%H:%M") %> - <%= @shift.end_datetime.strftime("%H:%M") %> (<%= "#{@durationhours} hrs#{@durationminutes}" %>)
    </td>
  
  <td><a href="/cancel_request_from_available_shifts?shiftid=<%= @shift.id %>"><div class="request-circle-filled" style="border:1px solid #77A8FC; background-color:#77A8FC;
            border-radius:100%; width:8px; height:8px; margin-top:5px; margin-left:auto; margin-right:auto"></div></a></td>
</tr>

<% end %>

