<% @shift = Shift.find(requests_item[0].shift_id) %>
<% @shift_request = @shift.shift_requests.find(requests_item[0].id) %>

<% @durationhours = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%H")%>
<% @durationminutes = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%M")%>
<% @durationhours[0] == "0" ? @durationhours = @durationhours[1] : @durationhours %>
<% @durationminutes.to_i < 1 ? @durationminutes = "" : @durationminutes = " #{@durationminutes} mins" %>


<tr>
  <td><%= link_to "", @shift %><%= requests_item[0].id %></td>
  <td><%= @shift.role %></td>
  <td><%= short_date(@shift.start_datetime) %></td>
  <!-- DO a date format hepler!! -->
  <td><%= @shift.start_datetime.strftime("%H:%M") %> - <%= @shift.end_datetime.strftime("%H:%M") %>
    </td>
  <td><%= "#{@durationhours} hours#{@durationminutes}" %></td>
  <td><a href="<%= cancelrequest_shift_request_path(@shift_request) %>?shiftid=<%= @shift.id %>" class="close">×</a></td>
</tr>

