<% provide(:title, 'Sign up') %>

<body background="clouds1.jpg">
<div class="visible-phone">
  <br><br>
</div>
<div class="row-fluid">
  <div class="span6 offset3">
    <a href="home"><span class="lead" style="font-size:3em">ShiftCloud</span></a> <br><br>
    <h2>Sign up for new business account</h2>

      <div class="alert alert-block alert-info">
      Note: this page is to create a NEW BUSINESS ACCOUNT. <br>
      If you or your colleague has already created an account for
      your business, please <a href="/signupuser">click here</a> to sign up as a new USER.
      </div>
      <div class="alert alert-block alert-info">
      If you are a shift worker and your manager has asked you to join the site, please
      <a href="/signupuser">click here</a> to sign up as a new USER.
      </div>
      <div class="alert alert-block alert-info" style="background-color:white">
    <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Your name" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Your email" %>
      <%= f.email_field :email %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.hidden_field :business_id, value: "ASSA{}{}{345345[]]]" %>



      <%= f.submit "Step 1 - save your contact details", class: "btn btn-medium btn-primary" %>
    <% end %>
  </div>
  </div>
</div>