<% provide(:title, 'Sign up') %>



<div class="row-fluid">
  <div class="span4 offset4">
    <h2>Sign up as a new user</h2>
      <div class="alert alert-block alert-info">
      Note: this page is to create a USER account for an existing business.
      If you are a business owner or manager and want to set up a new business
      account please <a href="/signup">click here</a>.
      </div>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :phone %>
      <%= f.text_field :phone %>



      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :business_id, "Please enter the code your manager has given you to join" %>
      <%= f.text_field :business_id, value: params[:code] %>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>