<div class="span3">

<ul class="nav nav-pills nav-stacked">
       
        <li><a href='/availableshifts'>Available Shifts (<%= user_available_shifts_helper.length %>)</a></li>
        <li class="active"><%= link_to "Offers (#{@offers_items.length})", '#'%></li>
        <li><%= link_to "Requests (#{@requests_items.length})", '/requests'%></li>
        
        
      </ul>


</div>

<div class="span6">


<% if @offers_items.any? %>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Shift id</th><th>col2</th>
			</th>
		</thead>
		<tbody>


		<%= render partial: 'offers_item', collection: @offers_items %>

		</tbody>
	</table>
	

<% else %>
<div class="alert alert-info">You have not been offered any shifts. Ask your manager to offer
				you shifts or request <%= link_to "available shifts", "/availableshifts" %>.</div>
<% end %>

</div>