<% @durationhours = Time.at(feed_item.end_datetime - feed_item.start_datetime).utc.strftime("%H")%>
<% @durationminutes = Time.at(feed_item.end_datetime - feed_item.start_datetime).utc.strftime("%M")%>
<% @durationhours[0] == "0" ? @durationhours = @durationhours[1] : @durationhours %>
<% @durationminutes.to_i < 1 ? @durationminutes = "" : @durationminutes = " #{@durationminutes} mins" %>

<a href="#">
<tr>
  <td><%= link_to "", feed_item %><%= "#{feed_item.id}" %></td>
  <td><%= "#{feed_item.role}" %></td>
  <td><%= short_date(feed_item.start_datetime) %></td>
  <!-- DO a date format hepler!! -->
  <td><%= "#{feed_item.start_datetime.strftime("%H:%M")} - 
  #{feed_item.end_datetime.strftime("%H:%M")}" %>
    </td>
  <td><%= "#{@durationhours} hours#{@durationminutes}" %></td>
</tr>
</a>