

<h3>New shift - <%= "#{Firm.find(current_user.business_id).name} 
      (#{Firm.find(current_user.business_id).branch})" %></h3>
<%= form_for(@shift) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
   
  <%= f.label :start_datetime %>
  <%= f.datetime_select :start_datetime %>

  <%= f.label :duration_mins, "Length of shift in minutes" %>
  <%= f.number_field :duration_mins %>

 	<%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.label :fk_user_worker %>
  <%= f.text_field :fk_user_worker %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Describe the duties of this shift", class: "shift_description" %>
  
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
