

<h3>New shift - <%= "#{Firm.find(current_user.business_id).name} 
      (#{Firm.find(current_user.business_id).branch})" %></h3>
<%= form_for(@shift) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
   
  <%= f.label :start_datetime, "Shift date @ shift start time" %>
  <%= f.datetime_select :start_datetime, order: [:day,:month,:year], 
          minute_step: 5, use_short_month: true, datetime_separator: " @  " %>

  <%= f.label :duration_mins, "Length of shift in hours and minutes" %>
  <%= f.time_select :duration_mins, minute_step: 5, time_separator: " : ", value: Time.now.beginning_of_day %>

 	<%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Describe the duties of this shift", class: "shift_description" %>
  
  <%= f.submit "Create shift", class: "btn btn-large btn-primary" %>
<% end %>
