<div class="container">
  <div class="nav pull-right"><%= link_to "Back to shifts page", '/shifts', 
                                class: "btn btn-medium btn-primary" %>
  </div>
</div>

<%= form_for(@shift) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
   
  <%= f.label :start_date %>
  <%= f.date_select :start_date %>

 	<%= f.label :start_time %>
  <%= f.time_select :start_time %>

 	<%= f.label :duration_mins, "Duration (minutes)" %>
  <%= f.number_field :duration_mins %>

 	<%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.label :fk_user_worker %>
  <%= f.text_field :fk_user_worker %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Describe the duties of this shift" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>