

<h3>New shift - <%= "#{Firm.find(current_user.business_id).name} 
      (#{Firm.find(current_user.business_id).branch})" %></h3>
<%= form_for(@shift) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
   
  <%= f.label :start_datetime, "Shift date @ shift start time" %>
  <%= f.datetime_select :start_datetime, order: [:day,:month,:year], 
          minute_step: 5, use_short_month: true, datetime_separator: " @  " %>

  <%= f.label :duration_mins, "Length of shift in hours and minutes" %>
  <%= f.time_select :duration_mins, minute_step: 5, time_separator: " : ", value: Time.now.beginning_of_day %>

 	<%= f.label :role %>
  <%= f.text_field :role, placeholder: "enter a role, e.g. Waiter, Barstaff, Pastry Chef, Cashier" %>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Describe the duties of this shift", class: "shift_description" %>

  Shift allocation:
  <label class="radio">
    <input type="radio" name="shift[allocation_type]" id="allocation_type1" value=1 checked>
      <strong>First come, first served</strong>. The first person to request this shift will be given it automatically.
  </label>
  <label class="radio">
    <input type="radio" name="shift[allocation_type]" id="allocation_type2" value=2>
    <strong>Manager chooses</strong>. Users can request this shift, but a manager will have to approve the request before
    the shift is allocated.
  </label>
  <label class="radio">
    <input type="radio" name="shift[allocation_type]" id="allocation_type2" value=2>
    <strong>Closed shift</strong>. This shift will not appear as available to users, and must be assigned or offered by
    a manager.
  </label>
  
  <%= f.submit "Create shift", class: "btn btn-large btn-primary pull-right" %>
<% end %>
