<% @shift = Shift.find(params[:id]) %>
<% @requestscount = @shift.shift_requests.find_all_by_worker_status_and_manager_status(true,nil).count %>

<% if (@requestscount == 0 || !@shift.fk_user_worker.nil?) %>
	<div class="btn btn-medium disabled">Requests (<%= @requestscount %>)</div>
  <% else %>
	<%= link_to "requests (#{@requestscount})",requests_shift_path, class: "btn btn-medium btn-success" %>
<% end %>

<% if !@shift.fk_user_worker.nil? %>
	<div class="btn btn-medium disabled">Offers (<%= "#{@shift.shift_requests.find_all_by_manager_status_and_worker_status(true,nil).count}" %>)</div>
	<% else %>
	<%= link_to "Offers (#{@shift.shift_requests.find_all_by_manager_status_and_worker_status(true,nil).count})", offers_shift_path(@shift), class: "btn btn-medium btn-primary" %>
	<% end %>

<% if shift_filled?(@shift.id) %>
 
 <% else %>
 <%= link_to "Assign", assign_shift_path(@shift), class: "btn btn-medium btn-primary" %>
<% end %>

    <div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Actions
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    	<li><%= link_to "Edit Shift", edit_shift_path(@shift) %></li>
    	<li><%= link_to "Delete", @shift, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @shift.role %></li>
    </ul>
    </div>




   