<div class="span6 offset3">


<% if current_user.admin? %>
<%= render 'shifts_admin_menu' %>
<% end %>

<%= render 'request_form' if (signed_in? && !current_user.admin?)%>



<h3>#<%= @shift.id %> - <%= @shift.role %></h3>
<h3>/ <%= Date::DAYNAMES[@shift.start_datetime.wday] %> <%= @shift.start_datetime.to_formatted_s(:rfc822) %> 
	/ <%= @shift.start_datetime %> </h3>

	<br>
Posted by <%= User.find(@shift.user_id).name %><br>
Shift filled? <%= shift_filled?(@shift.id) %>

<br>


<% @shiftdescription = @shift.description || "(none given)" %>
<strong><%= "More information about the shift"%></strong><br>
<%= "#{@shiftdescription}" %>