<% @durationhours = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%H")%>
<% @durationminutes = Time.at(@shift.end_datetime - @shift.start_datetime).utc.strftime("%M")%>
<% @durationhours[0] == "0" ? @durationhours = @durationhours[1] : @durationhours %>
<% @durationminutes.to_i < 1 ? @durationminutes = "" : @durationminutes = " #{@durationminutes} mins" %>
<% @shiftdescription = @shift.description || "(none given)" %>

<div class="span6 offset3">


<% if current_user.admin? %>
<%= render 'shifts_admin_menu' %>
<% end %>

<%= render 'request_form' if (signed_in? && !current_user.admin?) %>



<h3>
	<%= @shift.role %> @ <%= Firm.find(@shift.firm_id).name %>
	<%= @shift.fk_user_worker.nil? ? "(Open)" : "(Assigned to #{User.find(@shift.fk_user_worker).name})" %>
</h3>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td><span style="color:#0088cc">Start Time</span></td><td><%= @shift.start_datetime.strftime("%a %e %B %Y, %R") %></td>
		</tr><tr>
			<td><span style="color:#0088cc">End Time</span></td><td><%= @shift.end_datetime.strftime("%a %e %B %Y, %R") %></td>
		</tr><tr> 
			<td><span style="color:#0088cc">Length</span></td><td><%= "#{@durationhours} hours#{@durationminutes}" %></td>
		</tr>
		<tr>
			<td><span style="color:#0088cc">Repeat</span></td>
			<td>
				<% if @shift_series_items.any? %>
					Shift is part of series #<%= @shift.series_id %> 
					<% if current_user.admin? %>
					(<%= link_to "view series", series_shift_path(@shift) %>)
					<% end %>
				<% else %>
				Shift does not repeat.
				<% end %>
			</td>
		</tr>
		<tr>
			<td><span style="color:#0088cc">Assigned to</span></td>
			<td>
				<% if @shift.fk_user_worker.nil? %> 
					(Open)
				<% else %> 
					<%= "#{User.find(@shift.fk_user_worker).name}" %>
					<% if current_user.admin? %>
						<%= link_to "(unassign)", remove_worker_shift_path %>
					<% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td><span style="color:#0088cc">Assign type</span></td>
			<td>
				<% if @shift.allocation_type == 1 %>
					First come, first served
					<% elsif @shift.allocation_type == 2 %>
					Manager chooses
					<% else %>
					Closed shift
					<% end %>					
		</td>
		</tr>
		<tr>
			<td><span style="color:#0088cc"><%= "More info"%></span></td><td><%= "#{@shiftdescription}" %></td>
		</tr>
	</tbody>
</table>


<br>


<br>

<br><br><br><br>
<div class="alert alert-info">
	Shift #<%= @shift.id %> posted by <%= User.find(@shift.user_id).name %><br>
	Last updated at: <%= @shift.updated_at %>
</div>