<div class="row-fluid">
	<div class="nav pull-right"><%= link_to "Back to shifts page", '/shifts', 
                                class: "btn btn-medium btn-primary" %>
                            </div>

<% if can_delete_shift(@shift) %>
<%= link_to "delete", @shift, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @shift.role, class:"btn btn-danger btn-medium" %>
<% end %>

<% if (!shift_filled?(@shift.id) && current_user.admin?) %>
<%= render 'shared/stats' %>
<%= render 'shared/offer_button' %>
<% end %>
<% if (shift_filled?(@shift.id) && current_user.admin?) %>
<%= render 'shift_remove_user' %>
<% end %>
<%= render 'request_form' if (signed_in? && !current_user.admin?)%>

</div>
<h3>#<%= @shift.id %> - <%= @shift.role %></h3>
<h3>/ <%= Date::DAYNAMES[@shift.start_datetime.wday] %> <%= @shift.start_datetime.to_formatted_s(:rfc822) %> 
	/ <%= @shift.start_datetime %> </h3>

	<br>
Posted by <%= @shift.user.name %><br>
Shift filled? <%= shift_filled?(@shift.id) %>

<br>


<% @shiftdescription = @shift.description || "(none given)" %>
<strong><%= "More information about the shift"%></strong><br>
<%= "#{@shiftdescription}" %>