<% if current_user.business_id != "ASSA{}{}{345345[]]]" %>
<% @firm = Firm.find(current_user.business_id) %>
<!-- important to keep this for when the user is still in the sign up stage -->
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-home"></i><strong class="hidden-phone"> <%= " #{Firm.find(current_user.business_id).name}" %></strong>
					<b class="caret"></b>
				</a>
									
				<ul class="dropdown-menu">
					<li class="visible-phone"><a><strong><%= " #{Firm.find(current_user.business_id).name}" %></strong></a></li>
					<li><%= link_to "Network", network_firm_path(current_user.business_id) %></li>
					<li><%= link_to "Business Profile", firm_path(current_user.business_id) %></li>
					<li class="divider"></li>
					<li><a href=<%= user_path(current_user.id) %>><i class="icon-user"></i> <%= current_user.name %> (settings)</a></li>
					<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					<li><a href="/switchtononadmin">Switch to non-admin</a></li>

					<% @user_admins = current_user.firm_permissions.where(:status => true).where(:admin => true) %>
					<% if @user_admins.length > 1 %>
						<li class="divider"></li>
						<li><a>Switch business</a></li>
						<% @user_admins.each do |admins| %>
							<% @adminfirm = Firm.find(admins.firm_id) %>
							<% @adminfirm.branch == "" ? @adminfirmbranch = "" : @adminfirmbranch = "(#{@adminfirm.branch})" %>
							<li><a href="/switchbusiness?businessid=<%= @adminfirm.id %>"
								><i class="icon-home"></i> <%= "#{@adminfirm.name} #{@adminfirmbranch}" %></a></li>
						<% end %>
					<% end %>
					
				</ul>
			</li>

		<li class="divider-vertical" style="margin-left:0px;margin-right:0px"></li>
		<li class="hidden-phone"><%= link_to "Schedules", schedules_firm_path(@firm) %></li>
		<li class="visible-phone"><a href=<%= schedules_firm_path(@firm) %>><i class="icon-calendar"></i></a></li>
		<li class="divider-vertical" style="margin-left:0px;margin-right:0px"></li>
		<li class="hidden-phone"><%= link_to "Shifts", shifts_firm_path(@firm) %></li>
		<li class="visible-phone"><a href=<%= shifts_firm_path(@firm) %>><i class="icon-list"></i></a></li>

<!-- something about this ul tag makes the weird spot appear but also sends the other menu to the right pull-right -->
<% else %>
<% end %>

