			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<strong><i class="icon-user"></i><%= " #{current_user.name}" %> </strong>
					<b class="caret"></b>
				</a>
									
				<ul class="dropdown-menu">
					<li><%= link_to "Settings", user_path(current_user.id) %></li>
					<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					<% @user_admins = current_user.firm_permissions.where(:status => true).where(:admin => true) %>
					<% if @user_admins.any? %>
						<li class="divider"></li>
						<li><a>Switch to admin</a></li>
						<% @user_admins.each do |admins| %>
							<% @adminfirm = Firm.find(admins.firm_id) %>
							<% @adminfirm.branch = "" ? @adminfirmbranch = "" : @adminfirmbranch = "(#{@adminfirm.branch})" %>
							<li><a href="/switchtoadmin?businessid=<%= @adminfirm.id %>"
								><i class="icon-home"></i> <%= "#{@adminfirm.name} #{@adminfirmbranch}" %></a></li>
						<% end %>
					<% end %>
				</ul>
			</li>

		<li class="divider-vertical"></li>

		<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-calendar"></i> Schedules
					<b class="caret"></b>
				</a>
									
				<ul class="dropdown-menu">
					<li><%= link_to "My Shifts", '/shifts' %></li>

					<% @user_permissions = current_user.firm_permissions.where(:status => true) %>
					<% if @user_permissions.any? %>
						<li class="divider"></li>
						<% @user_permissions.each do |permission| %>
							<% @permissionfirm = Firm.find(permission.firm_id) %>
							<% @permissionfirm.branch = "" ? @permissionfirmbranch = "" : @permissionfirmbranch = "(#{@permissionfirm.branch})" %>
							<li><%= link_to "#{@permissionfirm.name} #{@permissionfirmbranch}", schedules_firm_path(@permissionfirm) %></li>
						<% end %>
					<% end %>
					
				</ul>
			</li>

		<li><%= link_to "Get Shifts", '/availableshifts' %></li>