<!DOCTYPE html>
<html>
<head>
  <title>TestApp <%= full_title(yield(:title)) %></title>
  
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale 1.0">

  		<%= javascript_include_tag "application" %>
  		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
		<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen"> 
		<link href="/custom.css" rel="stylesheet" type="text/css" media="screen">
		<%= render 'layouts/shim' %>
		<%= csrf_meta_tags %>
		
</head>
<body>
<div class='container-fluid'>
<header class="row-fluid">
				<div class="span12" style="margin-top:15px">
					<nav class="navbar">
						<div class="navbar-inner">
						<%= link_to "LOGO", home_path, class: "brand" %>
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
							
							<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="divider-vertical"></li>
								
								
								<% if signed_in? %>
								<%= render 'layouts/signedin_links' %>
								<% else %>
								<%= render 'layouts/notsignedin_links' %>
								<% end %>

								<!-- end of company links -->
								
								
								
								
								 

									
								<li class="divider vertical"></li>
							</ul>
						</div>
						</div>
					</nav>
				</div>
			</header>
</div>
<div class='container-fluid'>
			<div class="row-fluid" id="main-content">
 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<%= yield %>
<p></p>
<p></p>
<%= debug(params) if Rails.env.development? %>
</div>

</div>
			<script src="/jquery-latest.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script> 

</body>
</html>
