<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale 1.0">

  		<%= javascript_include_tag "application" %>
  		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
		<link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen"> 
		<link href="/bootstrap/css/datepicker.css" rel="stylesheet" type="text/css" media="screen">
		<link href="/custom.css" rel="stylesheet" type="text/css" media="screen">
		<%= render 'layouts/shim' %>
		
		<%= csrf_meta_tags %>
		
</head>
<body>

	<% if signed_in? %>
	<div class='container-fluid'>
		<header class="row-fluid">
			<div class="span12" style="margin-top:15px">
				<nav class="navbar">
					<div class="navbar-inner">
						<%= link_to "ShiftCloud", home_path, class: "brand hidden-phone" %>
						<a href="/home" class="brand visible-phone" style="margin:0px -6px 0px -16px"><img src="/cloudsmall.png" width="35px"></a>				
						
							<ul class="nav">
								<li class="divider-vertical" style="margin-right:0px"></li>
								
								
								<% if signed_in? %>
								<%= render 'layouts/signedin_links' %>
								<% else %>
								<%= render 'layouts/notsignedin_links' %>
								<% end %>

								<!-- end of company links -->
								
								
								
								
								 

									
								<li class="divider vertical"></li>
							</ul>
						
					</div>
				</nav>
			</div>
		</header>
	</div>
	<% else %>
	<div class="row-fluid hidden-phone">
		<br><br><br>
	</div>
	<% end %>

	<div class='container-fluid'>
		<div class="row-fluid" id="main-content">
 			<% flash.each do |key, value| %>
        		<div class="span12 alert alert-<%= key %>"><%= value %></div>
      		<% end %>
			<%= yield %>
			<p></p>
			<p></p>
				<%= debug(params) if Rails.env.development? %>
		</div>

	</div>
	<script src="/jquery-latest.js"></script>
	<script src="/bootstrap/js/bootstrap.js"></script> 
	<script src="/bootstrap/js/bootstrap-datepicker.js"></script> 

</body>
</html>
